#house{
  background: rgb(255,255,255,0.5);
}

.hero{
  position: relative;
}

.hero img{
  width: 100%;
  height: 1000px;
  
}
.hero div{
  margin-top:-100px;
  
  background:red;
  height: 200px;
}
.shop{
  height: 100%;
  background:gray;
}
.titre{
  background:white;
}
button{
  font-size: 128px;
  background: red;
}